<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="Test">
		<classes>
			<class name="SFProject.utility.test.AutomationCaseScript">
				<parameter name="browserName" value="firefox"></parameter>
				<methods>
					<include name="invalidloginToSalesForseTest1"></include>
					<include name="loginToSalesForceTest5"></include>
					<include name="loginToSalesForceTest3"></include>
					<include name="loginToSalesForceTest4a"></include>
					<include name="invalidloginToSalesForseTest4b"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
